body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Definimos el estilo una sola vez aquí */
.titulo-guia-interno {
    color: #af272f; /* El rojo actual */
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #af272f;
    padding-bottom: 10px;
}

/* También podemos dar estilo a los enlaces que inyectamos */
.enlace-sede-dinamico {
    color: #0000EE;
    text-decoration: underline;
}
